# Lecture 1 -- Part a

(Summer 2022)

## Outline of topics for this segment:

1. Brief history of python
2. Python's place in the family of programming languages
3. Basic variables (integer, float, string)
4. Conversions between the basic variable types
5. Boolean variables
6. "Collection" data types
    * lists
    * tuples
    * sets
    * dictionaries
7. Operators
8. Control statements
9. 30 minutes of homework ...

## Some useful background material:

The <a href="https://the-examples-book.com/book/introduction" target="_blank">Purdue Data Mine Examples Book</a> contains many useful chapters on data science. While they have not been directly designed for this class, they may be useful. You will not need to use scholar to perform the exercises of this class so don't worry about that part. Here is a direct link to the <a href="https://the-examples-book.com/book/python/introduction" target="_blank">Python chapter.</a>


## 1. History of Python, Etc.

- Conceived by Guido van Rossum in December 1989 at the Center Wiskunde and Informatica (Dutch national research institute for mathematics and computer science).
- Python version 1.0 in January 1994.
- GNU General Public License (open source) since version 1.6.1.
- Python version 2.0 in October 2000.
- Python Software Foundation formed in 2001 and a new open source license.
- Python version 2.7 was the last release in the version 2 series. Support ended January 2020.
- Python version 3.0 released December 2008. It broke backward compatibility with much of the verson 2 code.
- Latest version is 3.10 (October 2021).

In [17]:
# Check the version of python that we are running here ...

!python -V

Python 3.8.8

## 2. Python's place in the family of programming languages

### According to stackoverflow survey of profession software developers ...

<img align="left" src='Figs/DeveloperSurvey2021.png' width="500"/>

### As concerns languages for data science ...

The contenders are Python and R. For **Python**

* Most popular among data scientists.
* Very useful in machine learning and artificial intelligence because of the availabilty of popular libraries such as scikit-learn, matplotlib, and tensorflow, etc.

For **R**

* A scripting language.
* Very good support for statistical computation and visulalization.

This course is focussed on Python instead of R because that is a better for the work of my research group. For an independent comparison of the two: <a href="https://www.ibm.com/cloud/blog/python-vs-r" target="_blank">Python vs. R: What's the Difference?</a>


## 3. Basic Variables

Python uses something called **dynamic typing**, which means that a variable is created when a value is assigned to it. The type can be changed after originally set. There are a few rules on variable names:

* Must start with a letter or underscore
* Names are case-sensitive

A python variable is more than just its value. It must also contain information about the type of the value. There is overhead associated with such flexibility. The code below illustrates three of the variable types: **integer, float, and string**.

In [18]:
# Integer, i.e., whole numbers both positive and negative. Later on 
# we will illustrate formatting the print command.

x = 4; #This statement creates a variable 'x' of type integer and assigns the value 4

print('The type of x is:')
print(type(x))
print() # Just to give a space.
print('The value of x is:')
print(x)

The type of x is:
<class 'int'>

The value of x is:
4

In [19]:
# Floating point, i.e., computer representation of real numbers.

x = 4.0; #This statement creates a variable 'x' of floating point type and assigns the value 4.0

print('The type of x is:')
print(type(x))
print() # Just to give a space.
print('The value of x is:')
print(x)

The type of x is:
<class 'float'>

The value of x is:
4.0

In [20]:
# Strings. A string is a sequence of characters. They can be delimited
# by single quotes ('blah') or double quotes ("blah blah")

x = "four" #This statement creates a variable 'x' of type string and assigns the value "four"

print('The type of x is:')
print(type(x))
print() # Just to give a space.
print('The value of x is:')
print(x)

The type of x is:
<class 'str'>

The value of x is:
four

## 4. Conversions
Python has a built-in command `float()` that can convert integers and certain strings to floating point numbers.

In [21]:
# Start with an int.

x = 4;

print('The type of x is:')
print(type(x))
print()
print('The value of x is:')
print(x)

The type of x is:
<class 'int'>

The value of x is:
4

In [22]:
# Convert to float

x = float(x)

print('The type of x is:')
print(type(x))
print()
print('The value of x is:')
print(x)

The type of x is:
<class 'float'>

The value of x is:
4.0

In [23]:
# Can also convert strings representing floating point numbers to
# float.

x = '1.67'

print('The type of x is:')
print(type(x))
print()
print('The value of x is:')
print(x)

The type of x is:
<class 'str'>

The value of x is:
1.67

In [24]:
# Note that when we print the string version of x it prints it just
# as if it were a floating point number, i.e., we can't tell from the
# output.

x = float(x)

print('The type of x is:')
print(type(x))
print()
print('The value of x is:')
print(x)

The type of x is:
<class 'float'>

The value of x is:
1.67

There is also a python command `int()`, which can covert floats to integer and certain strings to integer, and a command `str()`, which converts numbers to strings.

## 5. Boolean type
A Boolean value has a python type **bool**. The possible values a Boolean variable can take are: **True** and **False**. These are typically used to hold the results of logical tests, which in turn can be used to control the flow of a python program.

In [25]:
x = True;

print('The type of x is:')
print(type(x))
print()
print('The value of x is:')
print(x)

The type of x is:
<class 'bool'>

The value of x is:
True

## 6. Collection Data Types
There are four **collection** data types: **lists**, **tuples**, **sets**, and **dictionaries**. (Some say that a **string** is a collection data type since it is a ordered set of characters --- more later).

### A. <u>Lists</u> are ordered, changeable, and allow duplicate members:

In [26]:
# Create a list with 5 elements.

Coloradothings = ["wheat", "corn", "sugar beets", "pinto beans", 1959]

print('The type of Coloradothings is:')
print(type(Coloradothings))
print()
print('The length of Coloradothings is:')
print(len(Coloradothings)) #Notice our use of the built-in python function 'len()'
print()
print('The value of Coloradothings is:')
print(Coloradothings)

The type of Coloradothings is:
<class 'list'>

The length of Coloradothings is:
5

The value of Coloradothings is:
['wheat', 'corn', 'sugar beets', 'pinto beans', 1959]

In [27]:
# The elements inside of Coloradothings may be of differing
# types ...

print('For Coloradothings[3] ...')
print(Coloradothings[3])
print(type(Coloradothings[3]))
print()
print('For Coloradothings[4] ...')
print(Coloradothings[4])
print(type(Coloradothings[4]))

For Coloradothings[3] ...
pinto beans
<class 'str'>

For Coloradothings[4] ...
1959
<class 'int'>

In [28]:
Coloradothings[0]

'wheat'

In [29]:
# We can append to a list and insert in a list. These particular functions are called 'methods' in
# python. Different sorts of objects have particular methods that work for them.

Coloradothings.append("Amherst")
print(Coloradothings)
print()
Coloradothings.insert(2, "sunflowers")
print(Coloradothings)

['wheat', 'corn', 'sugar beets', 'pinto beans', 1959, 'Amherst']

['wheat', 'corn', 'sunflowers', 'sugar beets', 'pinto beans', 1959, 'Amherst']

### B. <u>Tuples</u> are ordered, unchangeable, and allow duplicate members.

In [30]:
# Make a tuple.

Indianathings = ("Basketball", "Corn")

print(type(Indianathings))
print()
print(Indianathings)

#Indianathings.append("Wall street") # uncomment this to see an error

<class 'tuple'>

('Basketball', 'Corn')

Tuples can contain a single item but to do this we must specify them with a comma after the first and only element, e.g., `Indianathings = ("Basketball")` is not a tuple (it's a string), while `Indianathings = ("Basketball",)` is a tuple.

Tuples **cannot** be changed. For example, if Indianathings is a tuple then `Indianathings.append("Wall street")` will cause an error.

### 3. <u>Sets</u> are unordered, changeable (in the sense that we can add and remove items from sets). Sets do not allow duplicates.

In [31]:
# Make a set.

Purduethings = {"Ag and Bio Engineering", "Ross-Ade Stadium", "students", "professors", "Gene Keady", "study sessions"}

print(type(Purduethings))
print(Purduethings) # Note the order it prints
print()

print("Ag and Bio Engineering" in Purduethings)
print("Medical School" in Purduethings)

<class 'set'>
{'Ag and Bio Engineering', 'professors', 'study sessions', 'students', 'Ross-Ade Stadium', 'Gene Keady'}

True
False

From the code output above we note:
1. The order in which we included the set items when defining it is not the order that python used to enumerate the items when printing. Just FYI.
2. The statement in the last print command: `"Ag and Bio Engineering" in Purduethings` is a Boolean variable.

We can perform classical set operations via the methods ... (**union**, **intersection**, **difference**, **test subset**):

In [32]:
# Make another set ...

IUthings = {"Hoosiers", "Bobby Knight", "students", "professors", "parties"}

print('Purduethings union IUthings equals:')
print(Purduethings.union(IUthings))
print()
print('Purduethings intersection IUthings equals:')
print(Purduethings.intersection(IUthings))
print()
print('IUthings not also in Purduethings equals:')
print(IUthings.difference(Purduethings))
print()
print({"Gene Cernan",}.issubset(Purduethings))
Purduethings.add("Gene Cernan")
print({"Gene Cernan",}.issubset(Purduethings))

#print(Purduethings)

Purduethings union IUthings equals:
{'Ag and Bio Engineering', 'professors', 'study sessions', 'Bobby Knight', 'Hoosiers', 'students', 'parties', 'Ross-Ade Stadium', 'Gene Keady'}

Purduethings intersection IUthings equals:
{'professors', 'students'}

IUthings not also in Purduethings equals:
{'Bobby Knight', 'parties', 'Hoosiers'}

False
True

### D. <u>Dictionaries</u> are unordered, changeable, and indexed. Written with "{}" but made up of key-value pairs. 

A **key-value pair** is a pair of strings separated by a colon. Different key-value pairs are separated by commas. It looks like `{"key1": "value1", "key2: "value2"}`.

In [33]:
# Make some dictionaries of farm equipment.
OldCombine = {"brand": "CASE", "model": "7130", "year": 2014}
NewCombine = {"brand": "CASE", "model": "8240", "year": 2016}
Tractor1 = {"brand": "CASE", "model": "290", "year": 2013}
Pickup = {"brand": "CHEVY", "model": "Silverado", "year": 2005}
FavoriteOldCombineEver = {"brand": "JD", "model": "7720", "year": 1978, "color": "green"}

print(type(FavoriteOldCombineEver))
print(FavoriteOldCombineEver)

<class 'dict'>
{'brand': 'JD', 'model': '7720', 'year': 1978, 'color': 'green'}

**Note:** Dictionaries can contain dictionaries.

In [34]:
# Create a dictionary of farm equipment from the dictionaries of
# individual machines.

FarmEquipment = {"C1": OldCombine, "C2": NewCombine, "T1": Tractor1, "P1": Pickup, "C3": FavoriteOldCombineEver}
print(FarmEquipment)

{'C1': {'brand': 'CASE', 'model': '7130', 'year': 2014}, 'C2': {'brand': 'CASE', 'model': '8240', 'year': 2016}, 'T1': {'brand': 'CASE', 'model': '290', 'year': 2013}, 'P1': {'brand': 'CHEVY', 'model': 'Silverado', 'year': 2005}, 'C3': {'brand': 'JD', 'model': '7720', 'year': 1978, 'color': 'green'}}

## 7. Operators

### Arithmetic operators: +, -, *, /, %, **

In [35]:
# Arithmetic operators: +, -, *, /, %, **

print(7 + 5)  # addition
print(7 - 5)  # subtraction
print(7 * 5)  # multiplication
print(7 / 5)  # division
print(7 % 5)  # remainder upon integer division
print(7 ** 5) # exponentiation

12
2
35
1.4
2
16807

### Assignment operators: =, +=, -=, *=, /=, **=

In [36]:
# Assignment operators: =, +=, -=, *=, /=, **=

b = 5
a = b
print(a)
a += b # shorthand for a = a + b
print(a)
a -= b # shorthand for a = a - b
print(a)
a *= b # shorthand for a = a*b
print(a)
a /= b # shorthand for a = a/b
print(a)
a **= b # shorthand for a = a**b
print(a)

5
10
5
25
5.0
3125.0

### Comparison operators: ==, !=, <, <=, >, >=

In [37]:
# Comparison operators: ==, !=, <, <=, >, >=

a = 3
b = 2

print(a == b)
print(a != b)
print(a < b)
print(a <= b)
print(a > b)
print(a >= b)

False
True
False
False
True
True

### Logical operators: and, or, not

In [38]:
# Logical operators: and, or, not

x = (a == b) # The expression a == b it a Boolean value (either True or False).
             # The assignment creates a Boolean variable x
print(type(x))
print(x)

print()

y = not(x)
print(type(y))
print(y)

print()

z = True

print(x or z)
print(x and z)

<class 'bool'>
False

<class 'bool'>
True

True
False

## 8. Control statements
There are three methods of program control that we consider here:
1. If/else statement
2. For loops
3. While loops

In [39]:
# Example if/else statement

a = 5;
b = 3;
if b > a:
    print("b is greater than a")
elif a == b:
    print("a and b are equal")
else:
    print("a is greater than b")

a is greater than b

In [40]:
# While loop: Execute while condition is true.

i = 1
while i < 6:
    print(i)
    i += 1

1
2
3
4
5

In [41]:
# For loop: Iterate over a sequence. Also, have break (stop a loop where it is 
# and exit) and continue (move to the next iteration of loop).

for x in "banana":
    print(x)
    
print("\n")    
print("Try continue command")
print("\n")

for x in "banana":
    if x == "n":
        continue
    print(x)

b
a
n
a
n
a


Try continue command


b
a
a
a

## 9. Thirty Minutes of HW ...  Watch some videos, etc.

### Yang Wang on signing up for Github ...

<a href="https://www.youtube.com/watch?v=ZhHDfZ-l7ZU" target="_blank">Sign Up for Github</a>

### Yang Wang on ...

<a href="https://www.youtube.com/watch?v=ZB9VgHFqqXU" target="_blank">Fork a Github Repository</a>

<a href="https://www.youtube.com/watch?v=nT1NPCyTtyo" target="_blank">Commit Changes to a Github Repository</a>

### Now you should:

1. Create your own Github account if you do not already have one. Assuming you are wanting to keep this account after this summer, I would use an email that you will have for the long run.
2. Fork the repo `jvkrogmeier/REEU22`
3. Click on the mybinder link to run a version of the code.
4. Experiment with the code for `L1a`